.main-header
            h1 {
                width: 100%;
                margin: 0;
                padding: 16px;
                font-size: 40px;
            }

.main-content
            h2 {
            }

            h5{
                font-weight: normal;
            }

.red {color: red;}

.green {color: green;}

.checkbox {font-size: 20px;}

.header-label {font-weight: normal; font-size: 32px;}

.text-field {
                font-size: 15px;
                margin: 0;
            }

.menu-button {
                font-size: 14px;
                margin: 0;
                background: white;
             }

.fade-out {
    -webkit-animation: fadeinout 10s linear forwards;
    animation: fadeinout 10s linear forwards;
}

@-webkit-keyframes fadeinout {
  0% { opacity: 1; }
  50% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes fadeinout {
  0% { opacity: 1; }
  50% { opacity: 1; }
  100% { opacity: 0; }
 }